cat/cat
1/charcount/charcount
1/copy/copy
1/detab/detab
1/linecount/linecount
1/wordcount/wordcount
2/compress/compress
2/echo/echo
2/entab/entab
2/entab2/entab2
2/expand/expand
2/overstrike/overstrike
2/translit/translit
3/archive/archive
3/compare/compare
3/concat/concat
3/include/include
3/makecopy/makecopy
3/print/gen/gen
3/print/print
4/algo/bubble/bubble
4/sortshell/sortshell
4/algo/shell/shell
4/algo/quick/quick
4/sortquick/sortquick
4/sort/sort
4/sortgo/sortgo
