cat/cat
charcount/charcount
compress/compress
copy/copy
detab/detab
echo/echo
entab/entab
entab2/entab2
expand/expand
linecount/linecount
overstrike/overstrike
translit/translit
wordcount/wordcount
compare/compare
include/include
